/* For small devices */
@media screen and (min-width: 320px) and (max-width: 992px) {
    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .statistic {
        &__container {
            flex-direction: row;
            height: 80px;
            padding: 0 1rem;
            justify-content: space-between;
            gap: 2rem;
            margin-top: 1rem;
            border-radius: 2rem;
        }

        &__data {
            display: flex;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            justify-content: space-between;
            width: 100%;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__count {
            font-size: 2rem;
        }

        &__description {
            font-size: 1rem;
            display: none;
        }

        &__data {
            display: none;
        }

        .btn.large-btn {
            order: 2;
            /* Меняет порядок отображения на второй */
        }

        .statistic__data {
            order: 1;
            /* Меняет порядок отображения на первый */
        }
    }

    .goal {
        padding-top: 9rem;

        &__list {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 2rem;
        }

        &__data {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            height: auto;
        }

        &__title {
            font-size: 24px;
        }

        &__task {
            height: 280px;
        }

        &__progress {
            font-size: 96px;
        }

        &__task:hover {
            height: 500px;
        }

        &__task.complete:hover {
            height: 280px;
        }

        &__task:hover &__progress {
            height: 0;
            margin: 0;
        }

        &__wrap.complete {
            transform: translateY(100px);
        }

        &__dialog {
            padding: 2rem;

            &-buttons {
                gap: 1rem;
            }
        }
    }

    // .btn {
    //     width: 100%;
    // }


}



@media screen and (min-width: 1023px) and (max-width: 1440px) {
    .goal {
        &__list {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 2rem;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .goal__list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
    }
}