/// BUTTON
.button__menu {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn {
    width: 145px;
    height: 60px;
    border: 2px solid var(--first-color);
    background-color: black;
    font-family: Arial;
    color: var(--first-color);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 3rem;
    transition: all 0.3s;
    cursor: pointer;
}

.small-btn {
    width: 60px;
    height: 60px;
    border-radius: 2rem;
    border-color: var(--border-radius-color);
}

.btn:hover {
    background-color: var(--button-hover-color);
    color: black;
    transition: all 0.3s;
}

.large-btn:hover {
    border: 2px solid #3a3939;
}

.close {
    width: 145px;
    border-radius: 3rem;
}

/* BUTTON FOR CARD */
.button__minus,
.button__plus {
    width: 100%;
    height: 70px;
    background: black;
    color: var(--first-color);
    font-size: 2rem;
    border: none;
}

.button__minus {
    border-right: 2px solid var(--first-color);
}