.dialog {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        background-color: black;
        max-width: 400px;
        min-height: 700px;
        padding: 2rem 2.5rem;
        border-radius: 1.5rem;
        border: 2px solid var(--first-color);
    }

    &__title {
        font-size: 2.2rem;
        // font-family: Arial, sans-serif;
        font-weight: 400;
        color: white;
    }

    &__label {
        // font-family: Arial, sans-serif;
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__input {
        border-radius: .8rem;
    }

    &__currency {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        &-option {
            display: flex;
            width: 60px;
            height: 60px;
            border: 1px solid #0C0C0C;
            border-radius: 1.25rem;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: white;
                color: #0C0C0C;
                transition: all .3s;
            }
        }

        &-label {
            font-size: 1.4rem;
        }
    }

    /// HISTORY LIST
    &__history {
        font-family: "Manrope", sans-serif;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 450px;
        overflow: scroll;
        // justify-content: center;
        border: 1px solid #0d0d0d;
        border-radius: 1rem;
        padding: 2rem;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-amount {
            font-size: 2.2rem;
        }

        &-date {
            gap: .3rem;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
        }

        &-icon {
            i {
                font-size: 3.5rem;
            }

        }
    }
}

.hide {
    display: none;
}

.active {
    border: 2px solid var(--first-color);
    transition: all .1s;
}