.dialog {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        background-color: black;
        max-width: 400px;
        min-height: 700px;
        padding: 2rem 2.5rem;
        border-radius: 1.5rem;
        border: 2px solid var(--first-color);
    }

    &__title {
        font-size: 2.2rem;
        // font-family: Arial, sans-serif;
        font-weight: 400;
        color: white;
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__input {
        border-radius: .8rem;
    }

    &__currency {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        z-index: 1;

        &-option {
            display: flex;
            width: 60px;
            height: 60px;
            border: 1px solid #0C0C0C;
            border-radius: 1.25rem;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                // background-color: white;
                // color: #0C0C0C;
                transition: all .1s;
            }
        }

        &-label {
            font-size: 1.4rem;
        }
    }

    /// HISTORY LIST
    &__history {
        // font-family: "Manrope", sans-serif;
        display: flex;
        flex-direction: column;
        // gap: 1rem;
        // height: 450px;
        // position: relative;


        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-amount {
            font-size: 2rem;
        }

        &-date {
            font-size: .8rem;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            color: dimgray;
        }

        &-icon {
            i {
                // font-size: 3.5rem;
            }

        }
    }
}

.hide {
    display: none;
}

.active {
    border: 2px solid var(--first-color);
    transition: all .1s;
}

table.scrolldown {
    width: 100%;

    /* border-collapse: collapse; */
    border-spacing: 0;
    // border: 2px solid rgb(100, 100, 100);
}

/* To display the block as level element */
table.scrolldown tbody,
table.scrolldown thead {
    display: block;
}

thead tr th {
    height: 40px;
    line-height: 40px;
}

table.scrolldown tbody {

    /* Set the height of table body */
    height: 400px;

    /* Set vertical scroll */
    overflow-y: auto;

    /* Hide the horizontal scroll */
    overflow-x: hidden;
}

thead {
    border: 2px solid var(--first-color);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

tbody {
    padding: 0 1rem;
    border: 2px solid var(--first-color);
    border-top: none;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

tbody td,
thead th {
    width: 105px;
}

thead th:nth-of-type(1), th:nth-of-type(2)  {
    border-right: 2px solid var(--first-color);
}

td {
    text-align: center;
    padding-top: 1rem;
}

tbody tr {
    border-bottom: 1px solid hotpink;
}