.statistic {
    z-index: var(--z-fixed);
    width: 100%;
    left: 0;
    padding: 0 1.25rem;
    position: fixed;
    transition: stroke 5s ease;

    &__logo svg {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: black;
    }

    &__container {
        width: 100%;
        height: 130px; // 150
        background: var(--first-color);
        margin-top: 3rem;
        padding: 0 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 2rem;
        border: 2px solid var(--first-color);
    }

    &__data {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    &__count {
        font-size: 3.75rem;
        font-weight: 600;
    }

    &__item {
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }

    &__description {
        font-size: 1.4rem;
    }
}

.scroll {
    transition: stroke 0.3s ease;
    background: none;
    backdrop-filter: blur(20px);
    border: 2px solid var(--first-color);
    color: var(--first-color);
}