* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: var(--body-font);
}

i {
    font-size: 2.4rem;
    color: var(--color-icon-button);
}

dialog {
    margin: auto;
    background-color: initial;
    border: none;
}

dialog:-internal-dialog-in-top-layer::backdrop {
    position: fixed;
    inset: 0px;
    background: rgb(0, 0, 0, 80%);
    backdrop-filter: blur(2px);
}

dialog[open] {
    animation: var(--animation-slide-in-up) forwards;
}

dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
}
